<ul *ngIf="(comments | async) && (teamData.userData | async) && (patientData || (teamData.patientData | async))">
	<li *ngFor="let comment of comments | async">
		<span class="comment">{{ comment.comment }}</span>
		<span class="patient" *ngIf="!patientData && comment.nhi">
			RE:
			<span *ngIf="!(teamData.patientData | async)[comment.nhi]">
				{{ comment.nhi }}
			</span>
			<a *ngIf="(teamData.patientData | async)[comment.nhi]"
				[routerLink]="['../patients',comment.nhi,'comments']"
				[title]="comment.nhi"
				>
				{{ (teamData.patientData | async)[comment.nhi].firstName }}
				{{ (teamData.patientData | async)[comment.nhi].lastName }}
			</a>
		</span>
		<div class="timestamp">
			<span [title]="comment.by">{{ (teamData.userData | async)[comment.by]?.name || comment.by }}</span>
			<span>at {{ comment.at | date:'HH:mm, d/MM/yy' }}</span>
		</div>
	</li>
	<li>
		<span>
			<label for="limitTo">Number of comments:</label>
			<select [ngModel]="limitModel" (ngModelChange)="limitTo($event)" id="limitTo">
				<option *ngFor="let limit of limits"
					[value]="limit">
					{{ limit }}
				</option>
			</select>
		</span>
		<app-new-item-form (addItemRequest)="addComment($event)" placeholder="Add comment"></app-new-item-form>
	</li>
</ul>
<app-loading *ngIf="!(comments | async) || !(teamData.userData | async) || (!patientData && !(teamData.patientData | async))"></app-loading>
