button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    background: lightgrey;
    color: black;
    border: none;
    border-radius: 5em;
    font-size: large;
}
button:hover {
    color: white;
    background: black;
    cursor: pointer;
}
