<table *ngIf="patientData.patientData | async" class="horizontal">
	<tr>
		<th>NHI</th>
		<td>
			<app-editable
				[value]="(patientData.patientData | async).$key"
				[editable]="false"
				[deletable]="true"
				(deleteItemRequest)="deletePatient()"
			></app-editable>
		</td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td>
			<app-editable
				[value]="(patientData.patientData | async).lastName"
				(editItemRequest)="updateLastName($event)"
			></app-editable>
		</td>
	</tr>
	<tr>
		<th>First Name</th>
		<td>
			<app-editable
				[value]="(patientData.patientData | async).firstName"
				(editItemRequest)="updateFirstName($event)"
			></app-editable>
		</td>
	</tr>
	<tr>
		<th>Ward</th>
		<td>
			<app-editable
				[value]="(patientData.patientData | async).ward || ''"
				(editItemRequest)="updateWard($event)"
				[deletable]="true"
				(deleteItemRequest)="deleteWard()"
			></app-editable>
		</td>
	</tr>
</table>
<app-loading *ngIf="!(patientData.patientData | async)"></app-loading>
