<div class="black">
	{{ patientData.nhi }}
	<span>{{ (patientData.patient | async)?.firstName }}</span>
	<span class="uppercase">{{ (patientData.patient | async)?.lastName }}</span>
</div>
<nav>
	<ul>
		<li><a routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Overview</a></li>
		<li><a routerLink="problems" routerLinkActive="active">Problems</a></li>
		<li><a routerLink="tasks" routerLinkActive="active">Tasks</a></li>
		<li><a routerLink="comments" routerLinkActive="active">Comments</a></li>
	</ul>
</nav>
<router-outlet></router-outlet>
