<ul *ngIf="(teamData.comments | async) && (teamData.userData | async) && (teamData.patientData | async)">
	<li *ngFor="let comment of teamData.comments | async">
		<span class="comment">{{ comment.comment }}</span>
		<span class="patient" *ngIf="comment.nhi">
			RE:
			<span *ngIf="!(teamData.patientData | async)[comment.nhi]">
				{{ comment.nhi }}
			</span>
			<a *ngIf="(teamData.patientData | async)[comment.nhi]"
				[routerLink]="['../patients',comment.nhi,'comments']"
				[title]="comment.nhi"
				>
				{{ (teamData.patientData | async)[comment.nhi].firstName }}
				{{ (teamData.patientData | async)[comment.nhi].lastName }}
			</a>
		</span>
		<div class="timestamp">
			<span [title]="comment.by">{{ (teamData.userData | async)[comment.by]?.name || comment.by }}</span>
			<span>at {{ comment.at | date:'HH:mm, d/MM/yy' }}</span>
		</div>
	</li>
	<li>
		<app-new-item-form (addItemRequest)="teamData.addComment($event)" placeholder="Add comment"></app-new-item-form>
		<span>
			<label for="limitTo">Number of comments:</label>
			<button *ngFor="let limit of teamData.limits"
				[disabled]="limit === (teamData.limitToLast | async)"
				(click)="teamData.limitToLast.next(limit)">
				{{ limit }}
			</button>
		</span>
	</li>
</ul>
<app-loading *ngIf="!(teamData.comments | async) || !(teamData.userData | async) || !(teamData.patientData | async)"></app-loading>
