<ul>
	<li *ngFor="let team of applications | async">
		<app-editable
			[value]="team.$key"
			[editable]="false"
			[deletable]="true"
			(deleteItemRequest)="deleteApplication(team.$key)"
		></app-editable>
	</li>
	<li>
		<app-new-item-form (addItemRequest)="applyToTeam($event)" placeholder="Apply to join team"></app-new-item-form>
	</li>
</ul>
<button type="button" (click)="authService.logout()">Logout</button>

<!-- <app-loading *ngIf="!(authService.applicationIndex | async)"></app-loading> -->
