<table *ngIf="(users | async) && (teamData.profileData | async)">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Joined</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users | async">
			<td>
				<app-editable
					[title]="user.$key"
					[editable]="(teamData.profileData | async).admin"
					[deletable]="(teamData.profileData | async).admin && user.$key !== (teamData.profileData | async).$key"
					[value]="user.name"
					(editItemRequest)="users.update(user,{name:$event})"
					(deleteItemRequest)="deleteUser(user)"
				></app-editable>
			</td>
			<td>
				{{ user.admin ? 'Admin' : 'Member' }}
				<button
					*ngIf="(teamData.profileData | async).admin && user.$key !== (teamData.profileData | async).$key"
					type="button"
					(click)="users.update(user, {admin: !user.admin})"
					>Make {{ user.admin ? 'member' : 'admin' }}</button>
			</td>
			<td>{{ user.joined | date:'short' }}</td>
		</tr>
	</tbody>
</table>
<app-loading *ngIf="!(users | async)"></app-loading>
